@import "tailwindcss";

@theme {
  --color-primary: #d5fb00;
  --color-secondary: #f7f7f7;
  --color-tertiary: #0e1300;
  --color-accent: #006400;
  --color-background: #0d0e11;
  --color-nutri: #8fae3a;
  --color-cta-orange: #f28c28;
  --background-image-hero-pattern: url("/fondo2.webp");

  --font-sans: "Montserrat Variable", sans-serif;
}

@layer components {
  .cp-v {
    clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
  }
}

/* Prevenir scroll horizontal en toda la página */
html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Asegurar que el body ocupe todo el ancho */
body {
  width: 100%;
  position: relative;
}
